In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('felicidade_pessoas_dm.csv')

In [4]:
df.head()

,Idade,Felicidade,ViagemNegocios,TaxaDiaria,Area,DistanciaDaEmpresa,Educacao,AreaDeEducacao,ContagemFuncionario,NumeroCadastroFuncionario,...,SatisfacaoRelacionamento,HorasPadrao,NivelAcoesEmpresa,TotalDeAnosTranalhados,TempoDeTreino,BalancoVidaTrabalho,AnosNaEmpresa,TempoNaAtualFuncao,AnosDesdeUltimaPromocao,AnosComOmesmoGerente
0,41,Não,Raramente,1102,Vendas,1,2,Ciencias Financeiras,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,Sim,Frequentemente,279,R&D,8,1,Ciencias Financeiras,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Não,Raramente,1373,R&D,2,2,Outros,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,Sim,Frequentemente,1392,R&D,3,4,Ciencias Financeiras,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,Sim,Raramente,591,R&D,2,1,Computacao,1,7,...,4,80,1,6,3,3,2,2,2,2

In [5]:
df.columns

Index(['Idade', 'Felicidade', 'ViagemNegocios', 'TaxaDiaria', 'Area',
       'DistanciaDaEmpresa', 'Educacao', 'AreaDeEducacao',
       'ContagemFuncionario', 'NumeroCadastroFuncionario',
       'SatisfacaoFuncionario', 'Genero', 'ValorHora', 'EnvolvimentoEmprego',
       'NivelEmprego', 'FuncaoEmprego', 'SatisfacaoEmprego', 'EstadoConjugal',
       'Salario', 'TaxaMensal', 'NumeroDeEmpresasTrabalhadas', 'AcimaDe18anos',
       'HoraExtra', 'PercentAumentoSalario', 'TaxaPerformance',
       'SatisfacaoRelacionamento', 'HorasPadrao', 'NivelAcoesEmpresa',
       'TotalDeAnosTranalhados', 'TempoDeTreino', 'BalancoVidaTrabalho',
       'AnosNaEmpresa', 'TempoNaAtualFuncao', 'AnosDesdeUltimaPromocao',
       'AnosComOmesmoGerente'],
      dtype='object')

#1 - Razão de entenderem os motivos que deixam uma pessoa feliz no trabalho 
#2- Colocar as suas hipoteses
#3 - Explicar o algoritmo usado Regressão Logistica
#4 - Como pegar só colunas numericas e não numericas 
#5 - Confirmar se as suas hipoteses foram validas
#6 - Gerar as metricas, a matriz de confusão e classification e usar eles para defender as metricas.
#7- Conclusões gerais
*** Obs Podem alterar o nome do notebook

Organização
1 Lider( Ajudar aonde for mais necessario)
2 Notebook ( parte tecnica )
3 e 4 pesquisar como é algoritmo, como pegar so colunas numericas, tratamento dos dados, tratamento de variveis categoricas
5 para fazer a parte de texto